.active {
    display: flex;
}

.inactive {
    display: none;
}

.userdata-container {
    flex-direction: column;
    text-align: initial;
    padding: 0 5rem;
    align-items: center;
}

.userdata-container * {
    width: 100%;
    padding: 5px;
    font-size: 1em;
}

.userdata-container button {
    border-radius: 5px;
    background-color: lightgrey;
    color: #2c3e50;
}

.editor * {
    box-sizing: content-box;
}