.profile-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    height: 100%;
}

.profile-data-container {
    width: 40%;
}

.rating-achievements-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}