.video-container{
    position: relative;
    text-align: center;
    height: 100%;
    width: fit-content;
    max-width: 100%;
}

.video-container, #local-video {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.video-screen {
    height: 90%;
}

#remote-video {
    background-color: gray;
    border-radius: 10px;
    height: 100%;
    width: auto;
    max-width: 100%;
}

#local-video {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: cadetblue;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    overflow: hidden;
}

#local-video img {
    height: 150px;
    left: -75px;
}

#sound-buttons-container {
    position: absolute;
    bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 8rem;
}

/*.mute-button {
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 0.35em;
    border: 1px solid;
    font-size: 3rem;
    z-index: 1;
}*/

.mute-button:hover {
    cursor: pointer;
    background-color: white;
}