.menu-container {
    height: calc(100vh - 80px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container {
    margin-bottom: 20px;
}

.main-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #6a1b9a;
}

.profile-tab {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}