.friends-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
}

.tab-list {
    display: flex;
    width: 60%;
    background-color: rgb(30 58 138 / 0.2);
    border-radius: 0.75rem;
    padding: 0.25rem;
}

.tab-name {
    width: 100%;
    border-radius: 0.5rem;
    padding-top: 0.625rem/* 10px */;
    padding-bottom: 0.625rem/* 10px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    font-weight: 500;
    --tw-ring-color: rgb(255 255 255 / 0.6);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #60a5fa;
}

.tab-name.active {
    background-color: rgb(255 255 255);
    color: rgb(29 78 216);
    text-align: center;
}