.navbar {
    position: fixed;
    background-color: #0c0b3b;
    height: 60px;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.side-icon {
    border-radius: 10px;
    padding: 10px;
    margin: 1rem;
    font-size: 1.5em;
    background: none;
}