.input-container {
    padding: 5px;
    margin-top: auto;
    border: #2c3e50 3px solid;
    border-radius: 0 0 5px 5px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container input {
    width: 80%;
    height: 20px;
    border-radius: 1em;
    padding: 1px 5px;
}

.input-container button {
    width: calc(20% - 10px);
    color: honeydew;
    background-color: #2c3e50;
    border: none;
    height: 24px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-container {
    padding: 5px;
    height: calc(95% - 3px);
    border: #2c3e50 3px solid;
    border-radius: 5px 5px 0 0;
    word-break: break-all;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.message-box {
    height: fit-content;
    width: 100%;
    padding: 2px 0;
}

.message {
    width: fit-content;
    max-width: 70%;
    font-size: 14px;
    padding: 5px 12px;
}

.message.mine{
    background: dodgerblue none repeat scroll 0 0;
    border-radius: 10px;
    color: #efefef;
    float: right;
}

.message.other {
    background: whitesmoke none repeat scroll 0 0;
    border-radius: 10px;
    border: #2c3e50 1px solid;
    float: left;
}

.message.mine .message-sender {
    color: whitesmoke;
}

.message .message-sender {
    font-size: 16px;
}