.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #6a1b9a;
}